
.container_overall {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container_header {
  flex: 1;
  background-color: yellow;
  display: flex;
  color: white;
  align-self: center;

}
.container_header_item {
  background-color: black;
  height: auto;
  padding: 25px 45px;
  font-size: 22px;
}
.container_header_item:hover {
  background-color: grey;
}
.container_body {
  flex:10;
  background-color: pink;
  display:lock;
}
.container_body_top {
  width: 100vw;
  height: 60%;
  background-color: dodgerBlue;
  display: flex;
  /*flex-direction: column;*/
}
.choice_box_overall {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*.
.Table_player_bar {
  flex: 1;
  background-color: lightBlue;
  width: 100%;
  display: flex;
}
.Table_table {
  flex: 5;
  display: flex;
  width: 100%;
  background-color: darkGreen;
}
.Table_table_top {
  background-color: green;
  display: flex;
  width: 80vw;
  margin: 0 10vw;
}*/
/*.Player {
  flex: 1;
  height: auto;
}*/


.container_body_bottom {
  width: 100vw;
  height: 40%;
  display: flex;
}
.Hand_overall {
  display: flex;
}
.info_item {
  flex:1;
}
.container_footer {
  flex: 1;
  background-color: red;
}
