.Table_overall {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Table_player_bar {
  flex: 1;
  background-color: lightBlue;
  width: 100%;
  display: flex;
}

.Table_table {
  flex: 5;
  display: flex;
  width: 100%;
  background-color: darkGreen;
}
.Table_table_top {
  background-color: green;
  display: flex;
  width: 80vw;
  margin: 0 10vw;
}
